@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  background-color: hsl(0, 0%, 10%);
}

.alt {
  position: fixed;
  max-width: 64rem;
  width: 95vw;
  top: 0;
  left: max(2.5vw, calc((100vw - 64rem) / 2));
  background-color: hsla(240, 4%, 13%, 0.95);
}